
<div class="hidden-xs panel panel-default">
  <div class="panel-heading">
    <div>
      <strong><h3 class="panel-title">Ticket <%= ticket.id %></h3></strong>
    </div>
  </div>
  <div class="panel-body">
    <div>
      <div class="body">
        <div>
          <p><%= ticket.body %></p>
        </div>
      </div>
    </div>
  </div>
</div>
