<h1>Tickets</h1>
<a><%= link_to "Open a Support Ticket", new_ticket_path, style: 'float: right' %></a>
<% binding.pry %>
<% @tickets.each do |ticket| %>
  <%= render partial: "ticket", locals: {ticket:ticket} %>
<% end %>
